.nav {
    background-color: #141414; 
    padding: 20px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav li {
    position: relative;
}

.nav a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #e50914; 
}

.nav button {
    background-color: transparent; 
    border: none;
    color: #ffffff; 
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.nav button:hover {
    color: #e50914; 
}

